html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "regular";
  word-break: break-word;
  overflow-x: hidden;
  min-height: 100vh;
  animation: 1s 0.1s fadeIn backwards;
  letter-spacing: 0px;
  text-transform: capitalize !important;
}

::selection {
  color: #673eb6;
}

/* width */

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  /* display: none; */
}

/* Track */

::-webkit-scrollbar-track {
  background: #673eb6;
  /* display: none; */
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #291949;
  border-radius: 5px;
  /* display: none; */
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #a789df;
  /* display: none; */
}
.webkit-1,
.webkit-3,
.webkit-4 {
  display: -webkit-inline-box !important;
  -webkit-box-orient: vertical !important;
  width: 100% !important;
  overflow: hidden !important;
}

.webkit-1 {
  -webkit-line-clamp: 1 !important;
}

.webkit-2 {
  -webkit-line-clamp: 2 !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: -webkit-box !important;
  -webkit-box-orient: vertical !important;
}

.webkit-3 {
  -webkit-line-clamp: 3 !important;
}

.webkit-4 {
  -webkit-line-clamp: 4 !important;
}

@font-face {
  font-family: "regular";
  src: url("/fonts/Inter-Regular.eot");
  src: url("/fonts/Inter-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff"),
    url("/fonts/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "medium";
  src: url("/fonts/Inter-Medium.eot");
  src: url("/fonts/Inter-Medium.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Inter-Medium.woff2") format("woff2"),
    url("/fonts/Inter-Medium.woff") format("woff"),
    url("/fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'semi-bold';
  src: url('/fonts/Inter-SemiBold.eot');
  src: url('/fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Inter-SemiBold.woff2') format('woff2'),
      url('/fonts/Inter-SemiBold.woff') format('woff'),
      url('/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "bold";
  src: url("/fonts/Inter-Bold.eot");
  src: url("/fonts/Inter-Bold.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Inter-Bold.woff2") format("woff2"),
    url("/fonts/Inter-Bold.woff") format("woff"),
    url("/fonts/Inter-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.regular {
  font-family: "regular";
}
.medium {
  font-family: "medium";
}
.bold {
  font-family: "bold";
}
.semi-bold {
  font-family: "semi-bold";
}
button:focus {
  outline: none;
  box-shadow: none;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}
.opacity-7 {
  opacity: 0.7;
}

.color-offwhite {
  color: #e5e5e5;
}
.color-selver {
  color: #93999f;
}
.color-gray {
  color: #585b58;
}
.default-bg {
  background-color: #5d38a4;
}
.movie-color{
  color: #5d38a4;
}
.liner-back {
  background-image: linear-gradient(to left, #291949 10%, #673eb6);
}
.default-color {
  color: #3b3d3b;
}
.f-7rem {
  font-size: 0.7rem;
}
.f-8rem {
  font-size: 0.8rem;
}
.f-3rem {
  font-size: 3rem;
}
.f-1-1rem {
  font-size: 1.1rem;
}
.f-1-2rem {
  font-size: 1.2rem;
}
.f-1-4rem {
  font-size: 1.4rem;
}
.f-1-5rem {
  font-size: 1.5rem;
}
.f-9rem {
  font-size: 0.9rem;
}
.f-2-5rem {
  font-size: 2.3rem;
}
.f-2-2rem{
  font-size: 2.2rem;
}
.f-2rem {
  font-size: 1.9rem;
}
.f-1-3rem {
  font-size: 1.3rem;
}
.f-1rem {
  font-size: 1rem;
}
.py-6 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.pt-6 {
  padding-top: 6rem;
}
.pt-8 {
  padding-top: 8rem;
}
.pb-6 {
  padding-bottom: 5rem;
}
.w-80{
  width: 80%;
}
.w-84{
  width: 90%;
}
.cover{
  object-fit: cover;
}
.ps-7{
padding-inline-start: 12rem;
}
/*===============================animation===================================*/

.card1,
.navbar-toggler,
.navbar-toggler-icon,
.navbar-toggler-icon1,
footer button,
footer button span {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*==================================hero-sec===================================*/
.hero-sec {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 4rem;
  z-index: 2;
}
.hero-sec::before {
  content: " ";

  position: absolute;

  background-image: url(../img/Shapes.png);

  background-repeat: no-repeat;

  background-position: center bottom;

  inset: 0;

  z-index: -1;
}
.hero-sec::after {
  content: " ";

  position: absolute;

  background-image: url(../img/after-hero.svg);

  background-repeat: no-repeat;

  background-position: top right;

  background-size: 18%;

  inset: 0;

  z-index: -1;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-size: 0.8rem;
  color: #fff;
  content: "\f35a";
  padding-top: 0.2rem;
  font-family: "Font Awesome 5 Free";
}
.breadcrumb-item.active {
  color: #fff;
}

.navbar-brand img {
  width: 185px;
}
.navbar-nav .nav-link {
  color: #fff;
  font-weight: 600;
  position: relative;
  z-index: 1;
  font-size: 0.95rem;
  margin-right: 0.5rem;
}
.navbar-nav .nav-link:after {
  transition: all 0.5s;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #673eb6;
  border-color: #e1d1ff;
}
.navbar-nav .nav-link:hover path,
.navbar-nav .nav-link:focus path {
  fill: #291949 !important;
}
.navbar-nav .nav-link:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #e1d1ff;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 2px;
}
.navbar-nav .nav-link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end;
}
.nav-contact {
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.5rem 1.2rem !important;
}
.nav-contact svg {
  width: 15px !important;
  height: 15px;
  margin-inline-end: 0.2rem;
}
.nav-link img {
  width: 25px;
}
header {
  width: 100%;
  box-shadow: unset;
  z-index: 99999999999999999;
}

.sticky-navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0px;
  z-index: 999999999999999999;
  animation: sticky-animate 0.7s ease-in-out;
  background-image: linear-gradient(to right, #291949 10%, #673eb6);
  box-shadow: rgba(62, 37, 109, 0.12) -4px 9px 13px -6px;
}
.sticky-navbar .navbar {
  padding: 0.5rem 2rem !important;
}
@keyframes sticky-animate {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}
.navbar-toggler-icon1 {
  width: 1.2rem;
  height: 3px;
  border-radius: 1px;
  background-color: #fff;
  position: absolute;
  right: 12px;
}
.navbar-toggler .navbar-toggler-icon {
  position: relative;
  width: 1.3rem;
  height: 3px;
  border-radius: 1px;
  background-color: #fff;
}
.navbar-toggler .navbar-toggler-icon::after,
.navbar-toggler .navbar-toggler-icon::before {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: inherit;
  background: inherit;
}
.navbar-toggler .navbar-toggler-icon::before {
  top: -5px;
  width: 1.5rem;
}
.navbar-toggler .navbar-toggler-icon::after {
  bottom: -5px;
  width: 1.6rem;
  opacity: 1;
}
.navbar-toggler:hover .navbar-toggler-icon,
.navbar-toggler:hover .navbar-toggler-icon1 {
  background-color: #673eb6;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none;
}
.cards p {
  color: #646864;
  height: 107px;
  overflow: hidden;
}
.cards span{
padding: 1px 2px;
  border-radius: 2px;
}
.cards .img1{
width: 45px;
  height: 45px;
  object-fit: cover;
}
.card-bottom {
  padding-top: 13.1rem;
}
.card-top {
  padding-bottom: 13.1rem;
}
.card-bottom .br{
  background-color: #eeedf1;
  height: 3px;
  width: 100%;
  position: absolute;
 left: 12px;
  top: 48.5%;
  z-index: -1;
}
.cards .img-row img{
  width: 170px;
}
.card-bottom .img-row {
  top: 25%;
  right: -23px;
}
.card-top .img-row {
  top: 46%;
  right: 0px;
}
.card-top:last-child .img-row img {
  display: none;
}
.card-top .br{
  background-color: #eeedf1;
  height: 3px;
  width: 100%;
  position: absolute;
  left: 12px;
  top: 48.5%;
  z-index: -1;
}
/*===========================content====================*/
.w-93 {
  width: 93%;
}
.content-web2{
  padding-top: 2rem;
}

.detais-form {
  padding: 1rem 3.5rem 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
 
}
.content-web .text {
  width: 73%;
}
.request{
  padding: 3rem 2.5rem 0;
}
.first-img .img1 {
  padding-top: 5.5rem !important;
  height: 405px;
  object-fit: cover;
}
.form-control::placeholder {
  color: #c8c8c8;
  font-size: 1rem;
  font-weight: 400;
}
.form-control {
  height: 47px;
  font-size: 0.85rem;
  font-weight: 600;
  color: #3b3d3b;
  padding: 0.375rem 0.9rem;
  border: 1px solid #ced4da;
  border-radius: 2px;
}
.form-control:focus,
.form-control:hover {
  color: #3b3d3b;
  border-color: #b39eda;
  box-shadow: none;
}
.content-overlay {
  bottom: 25%;
  right: -77px;
  z-index: 1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}
.img-bottom2{
  top: 0;
  right: 0;
}
.img-bottom2 img{
width: 210px;
  height: 235px;
  object-fit: cover;
}
.content-overlay::after {
  content: " ";

  position: absolute;

  background-image: url(../img/after-overlay.svg);

  background-repeat: no-repeat;

  background-position: left bottom ;

  background-size: 32%;

  inset: 0;

  z-index: -1;
}
.content-overlay::before {
  content: " ";

  position: absolute;

  background-image: url(../img/befre-overlay.svg);

  background-repeat: no-repeat;

  background-position: top right;

  background-size: 30%;

  inset: 0;

  z-index: -1;
}
footer button:hover {
  background-color: #e1d1ff !important;
  color: #673eb6;
}
footer button:hover span {
  transform: scale(1.1);
}
.ready-sec {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  padding: 6rem 0;
  background-size: 100% 67%;
  position: relative;
  z-index: 1;
}
.ready-sec::after {
  content: " ";

  position: absolute;

  background-image: url(../img/bg-after.svg);

  background-repeat: no-repeat;

  background-position: left bottom 44%;

  background-size: 20%;

  inset: 0;

  z-index: -1;
}
.ready-sec::before {
  content: " ";

  position: absolute;

  background-image: url(../img/after-hero.svg);

  background-repeat: no-repeat;

  background-position: top right;

  background-size: 20%;

  inset: 0;

  z-index: -1;
}

.default-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 52px;
  border-radius: 2px;
  position: relative;
  transition: all 0.5s ease;
}
.default-btn span,
.second-sec .default-btn span {
  transition: all 0.7s ease;
}
.default-btn i,
.second-sec .default-btn i {
  transition: all 0.9s ease;
}
.default-btn:hover {
  background-color: #291949;
}
.default-btn:hover i {
  position: absolute;
  left: 11%;
}
.default-btn:hover span {
  padding-inline-start: 1.7rem;
}
.second-sec .default-btn:hover i {
  position: absolute;
  left: 60%;
}
.second-sec .default-btn:hover span {
  padding-inline-start: 1.7rem;
}
.conect img {
  width: 60px;
  height: 60px;
  margin-inline-end: 0.8rem;
}
.conect {
  margin-inline-end: 2rem;
}

.form-contact {
  background-color: #fff;
  padding: 2.5rem 2.3rem;
  box-shadow: rgba(62, 37, 109, 0.12) 0px 19px 38px,
    rgba(62, 37, 109, 0.12) 0px 15px 12px;
}
.liner-color {
  background: -webkit-linear-gradient(#673eb6, #291949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card1 img,
.descover-details img,
.descover-all img {
  width: 58px;
  height: 58px;
  object-fit: cover;
}
.card1 {
  border: 1px solid #efebf7;
  padding: 2rem 1rem;
  border-radius: 2px;
  margin-top: 23px;
  width: 31.5%;
  position: relative;
}
.card1:hover {
  box-shadow: rgba(62, 37, 109, 0.25) 0px 18px 50px -10px;
}
.card1::before {
  content: " ";
  position: absolute;
  background-image: url(../img/befor-card.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 46%;
  inset: 0;
  z-index: -1;
}

.card1::after {
  content: " ";

  position: absolute;

  background-image: url(../img/after-card.svg);

  background-repeat: no-repeat;

  background-position: bottom -8% right -9%;

  background-size: 27%;

  inset: 0;

  z-index: -1;
}
.descover-sec,
.descover-sec2{
  background-color: #f9f7fc;
  z-index: 1;
}
.descover-sec2::before {
  content: " ";
  position: absolute;
  background-image: url(../img/before-descover.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 20%;
  inset: 0;
  z-index: -1;
}
.descover-sec::before {
  content: " ";
  position: absolute;
  background-image: url(../img/before-descover.svg);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 18%;
  inset: 0;
  z-index: -1;
}
.descover-sec::after {
  content: " ";
  position: absolute;
  background-image: url(../img/after-descover.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
  inset: 0;
  z-index: -1;
}
.descover-sec2::after {
  content: " ";
  position: absolute;
  background-image: url(../img/descord-bg2.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 25%;
  inset: 0;
  z-index: -1;
}
.pt-4rem {
  padding-top: 4.7rem;
}
.line {
  width: 100px;
  height: 4px;
  border-radius: 4px;
  background-image: linear-gradient(to left, #291949, #673eb6);
}
.img-top img {
  width: 207px;
  border-radius: 2px;
  height: 222px;
  object-fit: cover;
}
.img-bottom img {
  width: 190px;
  border-radius: 2px;
  height: 212px;
}
.img-top {
  top: 23%;
  right: -20px;
}
.img-bottom {
  bottom: 0%;
  right: 0;
}
.second-sec::before {
  content: " ";
  position: absolute;
  background-image: url(../img/befor-transform.svg);
  background-repeat: no-repeat;
  background-position: right bottom 5%;
  background-size: 25%;
  inset: 0;
  z-index: -1;
}
.having-sec::before {
  content: " ";
  position: absolute;
  background-image: url(../img/befor-transform.svg);
  background-repeat: no-repeat;
  background-position: right bottom -50%;
  background-size: 22%;
  inset: 0;
  z-index: -1;
}
.content-web::after {
  content: " ";
  position: absolute;
  background-image: url(../img/after-content.svg);
  background-repeat: no-repeat;
  background-position: right 93% bottom 10%;
  background-size: 84%;
  inset: 0;
  z-index: -1;
}
.content-responsive {
  display: none;
}
.select-div i {
  right: 17px;
  top: 55%;
  color: #93999f;
}
.form-sec{
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}
.form-sec::before{
  content: " ";
  position: absolute;
  background-image: url(../img/after-hero.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 20%;
  inset: 0;
  z-index: -1;
}
.form-sec::after {
  content: " ";
  position: absolute;
  background-image: url(../img/contact-after2.svg);
  background-repeat: no-repeat;
  background-position: right 53% bottom;
  background-size: 41%;
  inset: 0;
  z-index: -1;
}
/*===========================footer=======================*/
footer {
  background-image: url(../img/Footer\ -\ Dark\ Minimal\ -\ 01.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
}
footer::after {
  content: " ";
  position: absolute;
  background-image: url(../img/bg-after.svg);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 27%;
  inset: 0;
  z-index: -1;
}
footer::before {
  content: " ";
  position: absolute;
  background-image: url(../img/bg-before.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 15%;
  inset: 0;
  z-index: -1;
}
footer .logo {
  width: 180px;
}

.conect-footer img {
  width: 35px;
  height: 35px;
  margin-inline-end: 0.7rem;
}
.conect-footer {
  margin-inline-end: 3.3rem;
}
footer button {
  color: #3b3d3b;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 34px;
  position: absolute;
  top: 5px;
  right: 5px;
}
footer .form-control {
  color: #fff;
  font-weight: 400;
}
footer .form-control {
  height: 44px;
  padding-inline-start: 2.8rem;
}
.first1-img  .img1{
  height: 458px !important;
}

footer .img-form {
  width: 17px;
  position: absolute;
  top: 32%;
  left: 5%;
}
.first1-img .default-btn{
  display: none;
}
.having-sec .f-2-2rem,
.take-sec .f-2-5rem{
  font-size: 2.5rem;
}
.descover-sec2 .f-2-5rem{
  font-size: 3rem;
}
.hero-details .f-1-2rem {
  font-size: 1.5rem;
  width: 88%;
  margin: auto;
}
@media (max-width: 1400px) {
  .first1-img .img1 {
    height: 507px !important;
}
.having-sec .f-2-2rem, .take-sec .f-2-5rem {
  font-size: 2.2rem;
}
.descover-sec2 .f-2-5rem {
  font-size: 2.6rem;
}
.descover-all .f-1-5rem {
  font-size: 1.3rem;
}

}
@media (max-width: 1200px) {
  .w-93 {
    width: 87%;
  }
  .f-3rem {
    font-size: 2.8rem;
  }
  .having-sec .f-2-2rem, .take-sec .f-2-5rem {
    font-size: 1.9rem;
    width: 80%!important;
  }
  .descover-sec2 .f-2-5rem {
    font-size: 2.3rem;
  }
  .descover-all .f-1-5rem {
    font-size: 1.2rem;
  }
  .first1-img .img1 {
    height: 531px !important;
}
  .content-overlay {
    bottom: 12%;
}
  .ps-7 {
    padding-inline-start: 9rem;
}
.detais-form img{
  width: 45px;
}
.having-sec::before {
  background-position: right bottom -10%;
}
.f-1-4rem {
  font-size: 1.3rem;
}
.cards .img-row img {
  width: 150px;
}
.card-bottom .img-row {
  top: 28%;
  right: -30px;
}
.detais-form {
  padding: 1rem 2rem 2rem 1rem;
}
  .card1 {
    width: 31%;
  }
  footer::after {
    background-size: 36%;
  }
  footer::after {
    content: " ";
    position: absolute;
    background-image: url(../img/bg-after.svg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 36%;
    inset: 0;
  }
  .descover-sec::after {
    background-size: 45%;
  }
}
@media (max-width: 992px) {
  .hero-sec {
    padding-bottom: 1rem;
  }
  .w-84 {
    width: 76%;
}
.f-3rem {
  font-size: 2.3rem;
}
.hero-details .f-1-2rem {
  font-size: 1.3rem;
  width: 100%;
}
.content-web2 .ps-7 .w-93 {
  width: 100%;
}
.first1-img .default-btn{
  display: flex;
}
.first1-img {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: space-between;
}
.content-overlay {
  right: -130px;
  bottom: 42%;
}
.having-sec::before {
  background-image: none;
}
.first1-img .img1{
height: 385px !important;
}
.content-web2 .img-bottom2 img {
  width: 170px;
  height: 180px;
  object-fit: cover;
}
.content-web2 .default-btn{
  display: none;
}
.descover-sec2 .w-75, .having-sec .w-75, .take-sec .w-80 {
  width: 100%!important;
  padding: 0 2rem;
}

.take-sec .scroll {
  overflow-x: auto;
  flex-wrap: nowrap;
  position: relative;
  cursor: default;
  overflow: scroll hidden;
  -ms-scroll-snap-type: x mandatory;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.take-sec .scroll::-webkit-scrollbar {
  display: none;
}
.take-sec .scroll .active {
  cursor: grab;
  cursor: -webkit-grab;
}
.cards p {
  height: 45px;
}
.card-bottom {
  padding-top: 9.1rem;
}
.card-top {
  padding-bottom: 9.1rem;
}
.take-sec .one {
  width: 40%;
  cursor: pointer;
}
.cards .img-row img {
  width: 175px;
}
.card-bottom .img-row {
  top: 20%;
  right: 7px;
}
.card-top .img-row {
  top: 43%;
  right: 48px;
}
.pt-8 {
  padding-top: 3rem;
}
.form-sec {
  background-image: none;
}
.contact-sec .detais-form{
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2rem 2rem 2rem 2rem;
  position: relative;
  z-index: 1;
}
.form-sec::before {
  background-image: none;
}
footer .text-end {
  text-align: center !important;
  margin-top: 1.5rem;
}
.detais-form .pb-5 {
  padding-bottom: 1rem!important;
}
.contact-sec .detais-form::before {
  content: " ";
  position: absolute;
  background-image: url(../img/after-hero.svg);

  background-repeat: no-repeat;
  background-position: top right;
  background-size: 20%;
  inset: 0;
  z-index: -1;
}
.contact-sec ::after {
  content: " ";
  position: absolute;
  background-image: url(../img/contact-after2.svg);
  background-repeat: no-repeat;
  background-position: left -35% bottom;
  background-size: 44%;
  inset: 0;
  z-index: -1;
}
.request {
  padding: 2rem 1.5rem 0;
}
  .sticky-navbar .navbar-nav {
    height: 100vh;
  }
  .navbar-nav {
    height: 100vh;
    margin-top: 1rem;
  }
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    padding: 0.5rem 1rem !important;
  }
  footer .form-control {
    height: 44px;
    padding-inline-start: 3.5rem;
  }
  .descover-sec::after {
    background-size: 55%;
  }
  .hero-sec::after {
    background-size: 20%;
  }

  .second-sec::before {
    background-image: url(../img/after-content.svg);
    background-position: right 10% top 14%;
    background-size: 60%;
  }
  .descover-sec::before {
    background-size: 35%;
  }
  .first-img .img1 {
    width: 275px !important;
    padding-top: 0.5rem !important;
    height: 325px;
    object-fit: cover;
  }
  .order-resonsive {
    order: -1;
  }
  .content-web {
    display: none;
  }
  .content-responsive {
    display: block;
  }
  .img-top img {
    width: 180px;
    height: 200px;
  }
  .img-top {
    top: 47%;
    right: -0px;
  }
  .content-responsive {
    display: block;
    margin-top: 3rem;
    width: 96%;
  }
  .img-bottom img {
    width: 110px !important;
    height: 120px !important;
    border-radius: 2px;
    object-fit: cover;
  }
  .content-responsive .w-93 {
    width: 75%;
  }
  .img-bottom {
    bottom: 4%;
  }
  .pt-4rem {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-inline-start: 12rem;
  }
  .card1 {
    width: 47%;
  }
  .ready-sec {
    background-size: 100% 57%;
  }
  footer .row.align-items-end {
    margin-top: 2rem;
  }
  .conect-footer {
    margin-inline-end: 0;
  }
  .between {
    justify-content: space-between;
  }
  footer .col-lg-6.text-end {
    text-align: center !important;
    margin-top: 2rem;
  }
  .nav-contact {
    border: none;
    padding: 0.2rem 0rem !important;
    margin: 0;
  }
  footer::before {
    background-size: 22%;
  }
  .ready-sec::after {
    background-position: left bottom 58%;
    background-size: 30%;
  }
  .hero-sec::before {
    background-size: cover;
  }
}
@media (max-width: 767px) {
  .f-3rem {
    font-size: 2rem;
  }
  .having-sec .w-75, .take-sec .w-80 {
    font-size: 1.8rem;
  }
  .descover-sec2 .w-75 {
    font-size: 2rem;
  }
  .having-sec h2, .take-sec h2{
    font-family: "bold";
}
.hero-details .f-1-2rem {
  font-size: 1.1rem;
}
.having-sec .w-75 {
  padding: 0 1rem;
}
.having-sec .pb-5 {
  padding-bottom: 0rem!important;
}
.having-sec .img-bottom2 img {
  width: 120px;
  height: 130px;
}
.having-sec .w-93 {
  width: 90%;
}
.content-overlay img {
  width: 33px;
}
.content-overlay span {
  font-size: .9rem;
}
.content-overlay::after {
  background-size: 21%;
}
.content-overlay {
  bottom: 48%;
}
.first1-img .default-btn {
  width: 170px;
}
.card-bottom .img-row {
  right: -30px;
}
.card-top .img-row {.first1-img .default-btn {
  width: 170px;
}
  right: 0px;
}
.contact-sec .py-6{
padding-top: 0rem;
}
.first1-img .img1 {
  height: 300px !important;
}
.having-sec .text  {
  padding-bottom: 1rem;
}
.detail-second h2 {
  color: #3b3d3b !important;
  font-size: 2rem;
  font-family: "bold";
}
  footer .form-control {
    padding-inline-start: 3rem;
  }
  footer .text-end {
    text-align: center !important;
    margin-top: 1.5rem;
  }
  footer::before {
    background-size: 25%;
  }
  .descover-sec::before {
    background-size: 55%;
  }
  .descover-sec::after {
    background-size: 80%;
  }
  .hero-sec::after {
    background-size: 23%;
  }
  .ready-sec::before {
    background-size: 23%;
  }

  .form-control::placeholder {
    font-size: 0.9rem;
  }
  .navbar-brand img {
    width: 150px;
  }

  .hero-details {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  .w-93 {
    width: 100%;
  }
  .f-2-5rem {
    font-size: 2rem;
    font-family: "medium";
  }
  .img-top {
    top: 45%;
  }
  .f-1-1rem {
    font-size: 1rem;
  }
  .form-contact h3,
  .form-contact p {
    font-family: "medium";
  }
  .form-contact .f-9rem {
    font-size: 0.8rem;
  }
  .conect-footer a {
    font-family: bold;
  }
  footer .form-control {
    color: #fff !important;
    font-weight: 400;
    font-size: 0.8rem;
  }
  .descover-details .f-1-2rem,
  .cadr1 .f-1-2rem {
    font-size: 1.4rem;
  }
  .cadr1 .f-9rem {
    font-size: 1rem;
  }
  .conect img {
    width: 50px;
    height: 50px;
  }
  .scroll {
    overflow-x: auto;
    flex-wrap: nowrap;
    position: relative;
    cursor: default;
    overflow: scroll hidden;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }
  .scroll::-webkit-scrollbar {
    display: none;
  }
  .scroll .active {
    cursor: grab;
    cursor: -webkit-grab;
  }
  .form-control {
    height: 45px;
  }
  footer .logo {
    width: 150px;
  }
  .card1 {
    width: 60%;
    margin-inline-end: 0.5rem !important;
    cursor: pointer;
    margin-inline-start: 1rem !important;
    margin-bottom: 4rem;
  }
  .begin-sec.py-6 {
    padding-bottom: 2rem;
  }
  .pt-4rem {
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-inline-start: 8rem;
    padding-inline-end: 1rem !important;
  }
  .descover-sec .col-lg-4 {
    padding-inline-end: 8rem;
  }

  .first-img .img1 {
    width: 245px !important;
    height: 300px;
  }
  .img-top img {
    width: 150px;
    height: 175px;
  }
  .line {
    width: 60px;
  }
  .f-2rem {
    font-size: 1.8rem;
  }
  .descover-sec .w-75 {
    width: 100% !important;
  }
}
@media (max-width: 480px) {
  .card1 {
    width: 72%;
  }
  .having-sec .w-75, .take-sec .w-80 {
    font-size: 1.5rem;
  }
  .descover-sec2 .w-75 {
    font-size: 1.7rem;
  }
  .descover-sec2 .px-5 {
    padding-right: 1rem!important;
    padding-left: 1rem!important;
}
 .detais-form .f-9rem {
    font-size: 0.6rem;
}
.detais-form img {
  width: 30px;
}
.detais-form .f-8rem {
  font-size: 0.7rem;
}
  .first1-img .img1 {
    height: 260px !important;
    width: 200px !important;
}
  .f-3rem {
    font-size: 1.7rem;
  }
  .first1-img .default-btn {
    width: 140px;
}
.cards .img-row img {
  width: 150px;
}
.f-2-2rem {
  font-size: 2rem;
}
  .detail-second h2 {
    font-size: 1.6rem;
  }
  .hero-details {
    padding: 0 1.5rem;
  }
  .content-responsive .text > div {
    width: 75%;
  }
  .default-btn {
    font-size: 0.8rem;
  }
  footer .form-control {
    padding-inline-start: 2.5rem;
  }
  footer .text-end {
    margin-top: 0rem;
  }
  .ready-sec::before {
    background-size: 30%;
  }
  .hero-sec::after {
    background-size: 26%;
  }
  .conect a,
  .conect-footer a {
    font-size: 0.8rem;
  }
  footer::before {
    background-size: 30%;
  }
  footer::after {
    background-size: 48%;
  }
  .conect {
    margin-inline-end: 1.3rem;
  }
  .conect img {
    width: 34px;
    height: 34px;
  }
  .second-sec::before {
    background-position: right 10% top 24%;
    background-size: 85%;
  }
  .f-2-5rem {
    font-size: 1.5rem;
  }
  .col-lg-10.mb-3 {
    margin-bottom: 0 !important;
  }
  .descover-details .f-1-2rem,
  .cadr1 .f-1-2rem {
    font-size: 1.3rem;
  }
  .first-img .img1 {
    width: 190px !important;
    height: 250px;
  }
  .img-top img {
    width: 130px;
    height: 150px;
  }
  .img-top {
    top: 44%;
  }
  .f-1-2rem {
    font-size: 1rem;
  }
  .navbar-brand img {
    width: 130px;
  }
  .default-btn {
    width: 190px;
  }
  .py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .display-block {
    padding-bottom: 1rem !important;
  }
  .conect-footer,
  .conect {
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  footer .col-lg-6.text-end {
    margin-top: 0rem;
  }
}
@media (max-width: 375px) {
  .breadcrumb {
    font-size: 0.9rem;
  }
  .navbar-brand img {
    width: 120px;
}
.having-sec .w-75, .take-sec .w-80 {
  font-size: 1.3rem;
}
.descover-sec2 .w-75 {
  font-size: 1.5rem;
}
.f-2-2rem {
  font-size: 1.5rem;
}
  footer .form-control {
    padding-inline-start: 2rem;
  }
  .f-9rem {
    font-size: 0.8rem;
}
.first1-img .img1 {
  height: 215px !important;
  width: 145px !important;
}
.content-overlay span {
  font-size: .8rem;
}
.contact-sec .detais-form {
  padding: 2rem 1rem 1rem 1rem;
}
.detais-form  .ms-3 {
  margin-left: 0.5rem!important;
}
.descover-sec2 .w-75, .having-sec .w-75, .take-sec .w-80 {
  width: 100%!important;
  padding: 0px 1rem;
}
.content-overlay img {
  width: 25px;
}
.content-overlay {
  bottom: 46%;
  padding: 0.5rem !important;
  right: -115px;
}
.first1-img .default-btn {
  width: 120px;
}
.card1 img, .descover-details img, .descover-all img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.take-sec .one {
  width: 60%;
  cursor: pointer;
}
.cards p {
  height: 80px;
}
.card-bottom {
  padding-top: 11.1rem;
}
.card-top {
  padding-bottom: 11.1rem;
}
.card-bottom .img-row {
  top: 26%;
}
.card-top .img-row {
  top: 45%;
}
.having-sec .img-bottom2 img {
  width: 85px;
  height: 100px;
}
.ps-7 {
  padding-inline-start: 5rem;
}
.having-sec .w-93 {
  width: 100%;
}
  .conect-footer,
  .conect {
    margin-inline-end: 1rem;
  }
  .conect img,
  .conect-footer img {
    width: 25px;
    height: 25px;
    margin-inline-end: 0.5rem;
  }
  .conect a,
  .conect-footer a {
    font-size: 0.7rem;
  }
  .f-3rem {
    font-size: 1.6rem;
  }
  .f-2rem {
    font-size: 1.5rem;
  }
  .first-img .img1 {
    width: 150px !important;
    height: 200px;
  }
  .img-top img {
    width: 100px;
    height: 115px;
  }
  .img-top {
    top: 40%;
  }
  .content-responsive .w-93 {
    font-size: 0.9rem;
  }
  .img-bottom img {
    width: 85px !important;
    height: 99px !important;
  }
  .img-bottom {
    bottom: 13%;
  }
  .default-btn {
    width: 170px;
    height: 48px;
  }
  .f-2-5rem {
    font-size: 1.3rem;
}
  .descover-sec .col-lg-4 {
    padding-inline-end: 5rem;
  }
  .descover-details .f-1-2rem, .cadr1 .f-1-2rem {
    font-size: 1rem;
}
  .pt-4rem {
    padding-inline-start: 6rem;
  }
  .card1 {
    width: 77%;
  }
  .f-1-4rem {
    font-size: 1.2rem;
  }
}
